.container {
  flex-direction: column;
  display: flex;
  margin: 10rpx 20rpx;
  padding: 10rpx;
  border: 1px solid rgba(128, 128, 128, 0.26);
  border-radius: 10px;
  height: 90%;
}
.arrow {
  height: 40rpx;
  width: 40rpx;
}
.btn {
  height: 60rpx;
  width: 60rpx;
  margin-right: 25rpx;
}
.count {
  margin-bottom: 10rpx;
}
.price {
  margin-bottom: 10rpx;
}
.content {
  margin-bottom: 10rpx;
}
.count .countText {
  float: right;
  margin-right: 20rpx;
}
.countBtn {
  float: right;
}
.countBtn .arrow {
  margin-right: 30rpx;
}
.total {
  float: none;
  position: fixed;
  display: flex;
  background-color: rgb(108, 204, 108);
  border-radius: 10px;
  bottom: 100rpx;
  left: 22rpx;
}
.total .content {
  padding-left: 10rpx;
}
.total .totalP {
  padding-bottom: 10rpx;
}
.total .totalC {
  padding-top: 10rpx;
}

.totalBtn {
  margin-left: 105px;
}
.total .totalBtnOrder {
  height: 60rpx;
}
.total .totalBtnClear {
  height: 60rpx;
}
