.goods {
  display: flex;
  flex-direction: row;
}
.name {
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-left: 10rpx;
}
.count {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.price {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-right: 30rpx;
}
