.list .list-content {
  display: flex;
  margin: 10rpx;
  width: 100%;
}
.name {
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-left: 10rpx;
}
.count {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.price {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-right: 30rpx;
}
.total {
  display: flex;
  flex-direction: row;
  margin-left: 10rpx;
}
.title {
  margin-left: 10rpx;
}
.totalTitle {
  flex-direction: column;
}
.totalCount {
  flex-direction: column;
}
