.history {
  display: flex;
  height: 150rpx;
  margin-top: 10rpx;
  border-bottom: 1px solid #a59f9f;
  align-items: center;
  background-color: #e5eaea;
}
.history text {
  width: 100%;
  text-align: center;
  font-size: larger;
}
